<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ni" class="com.nt.beans.Null_Injection">
		<constructor-arg value="001" />
		<constructor-arg value="Sehensah" />
		<constructor-arg><null/></constructor-arg>
		<constructor-arg value="29" />
	</bean>
</beans>
